.product-card {
  width: 500px;
  height: auto;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.product-hover:hover {
  transform: scale(1.002);
  box-shadow: 0 1px 10px rgba(176, 172, 182, 0.849);
}

.card-overlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
}

.cart-icon {
  font-size: 20px;
}

/* ตั้งค่าความกว้าง card ในการแสดงผลหน้าจอใหญ่ */
@media (min-width: 1200px) {
  .product-card {
    flex: 0 0 calc(20% - 16px); /* 20% ของพื้นที่หน้าจอสำหรับ 5 card ต่อแถว */
    margin: 8px;
  }
}

/* สำหรับหน้าจอขนาดกลาง ให้แสดง 3 card ต่อแถว */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .product-card {
    flex: 0 0 calc(33.33% - 16px); /* 3 card ต่อแถว */
    margin: 8px;
  }
}

/* สำหรับหน้าจอขนาดเล็ก ให้แสดง 2 card ต่อแถว */
@media (max-width: 767.98px) {
  .product-card {
    flex: 0 0 calc(50% - 16px); /* 2 card ต่อแถว */
    margin: 8px;
  }
}

.table-total {
  margin-top: 10px ;
  margin: auto ;
  margin-bottom: 20px;
  border: 1px solid #d6b3ff;
  border-radius: 5px;
  max-width: 1280px;
  width: 100%;
  border-bottom: #ac90ce 5px solid;
  background-color: #e3cbff;
}

.col-total {
  border-radius: 5px;
  background-color: inherit;
  color: #30184d;
  padding-bottom: 5px;
}














































































